@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-responsive.css"))">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script data-main='@routes.Assets.at("javascripts/main.js")' type='text/javascript' src='@routes.WebJarAssets.requirejs()'></script>
    </head>
    <body>
    	<div class="navbar navbar-inverse navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
    				<a class="brand" href="#">Eve Industry Tracker</a>
    				<div class="nav-collapse collapse">
    					<ul class="nav">
    						<li class="active"><a href="#">Home</a></li>
    						<li><a href="#about">About</a></li>
    						<li><a href="#contact">Contact</a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="container">
        	@content
        </div>
    </body>
</html>
